@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

/* .navbar_part {
    margin: 124px;
} */


#login_form {
    width: 100%;
    background: #1E1E1E;
    min-height: 100vh;
    padding-top: 34px;
}

.btn {
    gap: 42px;
    display: flex;
    justify-content: end;
}

.btn a {
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    position: relative;
    transition: all linear .3s;
}

.btn a:hover {
    width: 81px;
    height: 38px;
    background: #ffffff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
}

.btn a::after {
    content: "";
    width: 22px;
    height: 2px;
    background: #FFFFFF;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}



/* font-family: "Roboto", sans-serif; */

/* ================= banner part start ====================== */

.form_part .header_text h1 {
    font-size: 36px;
    font-weight: 600;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-bottom: 38px;


}

.form_part {
    display: flex;
    justify-content: end;
}

.form_part .header_text h1 span {
    display: block;
}

.main_form {
    width: 373px;
    justify-content: end;
    display: flex;
}

input {
    width: 372px;
    padding: 18px 0 17px 27px;
    background: #ffffff;
    border-radius: 8px;
    outline: none;
    color: #000;
}

.last_input {
    margin: 22px 0 9px 0;
}

input::placeholder {
    color: #5E5E5E;

}

.header_text a {
    text-align: end;
    display: flex;
    display: inline-block;
    color: #FFFFFF;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    width: 100%;
}

.header_text button {
    width: 100%;
    background: #ffffff;
    height: 57px;
    border-radius: 8px;
    color: #010000;
    font-weight: 700;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    margin: 64px 0 46px 0;

}

p {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-family: "Inter", sans-serif;
    text-align: center;
    position: relative;
    margin: 36px 0 42px 0;



}

p::before {
    content: "";
    width: 101px;
    height: 1px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 0;
}

p::after {
    content: "";
    width: 101px;
    height: 1px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 70%;



}

.google a {
    padding: 11px 28px;
    background: #ffffff;
}


.social_part {
    display: flex;
    justify-content: space-between;
}

.botton_end_part {
    font-size: 20px;
    font-weight: 200;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    margin: 63px 0 134px 0;

}

/* ================= banner part end ====================== */