@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ==================== navbar_part_start-- */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style: none;
}
img{
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}
.btn {
 
  display: flex;
  gap: 43px;

}

.login_social{
    display: flex;
    justify-content: space-between;
}
.login_socia a img{
    padding: 11px 28px;
   
}
.login_socia a {
    background: #FFFFFF !important  ;
}
p{
    color: #FFFFFF;
}

body{
    background: #000000;
}

.btn a{
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
       padding: 10px 10px;
    border-radius: 18px;
    background: #FFFFFF;
    position: relative;
    


}
.nav_part{
    margin-top: 34px;
}
.saifl {
    display: flex;
}


.btn a::after{
    content:"";
    width: 20px;
    height:3px;
    background: red;
    position: absolute;
    top: 0;
    left: 0;
}

.banner_part_start_here{
    display: flex;
}

/* ==================== navbar_part_end-- */
.prebutton{
    display: flex;
    justify-content: center;
    align-items:  center;
    background: cadetblue;
    z-index: 0;
    transition: all linear .3s;
    
     
     
    width: 300px;
    height: 110px;

    border: 4px solid green
}
.prebutton:hover{
    z-index: 6;
    border-top: 9px solid purple;
    border-bottom: none;
    text-transform: uppercase;
    background: inherit;
}


input{
    padding: 17px 193px 18px 27px;
    background: #ffffff;
    border-radius: 8px;
    margin-top: 86px;
    margin-bottom: 22px;
}